@import "normalize.css";

@font-face {
  font-family: Chillax;
  src: url(./assets/fonts/Chillax-Variable.ttf);
}

@font-face {
  font-family: Steppe;
  src: url(./assets/fonts/Steppe.ttf);
}

:root {
  --secondary-color: #004f44;
  --primary-color: #eff7f5;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: Steppe;
  font-size: 1.75rem;
}

h1 {
  font-family: Chillax;
  font-size: 4.5rem;
}
